.que{
    color: #E6E6E6;
    box-shadow: 0 0 5px 0 #E6E6E6;
    border-radius: 10px;
    margin-right: 7em;
    margin-top:1em;
    margin-bottom: 2em;
    padding: 1em;
    flex-direction: column;
}
.options{
    margin-top: 1em;
    display: flex;
    flex-direction: column;
}
.meh{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.option{
    font-weight: 600;
    border-color: #E6E6E6;
    border-radius: 0.5em;
    border-style: solid ;
    margin: 0.5em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    padding-left: 1em;
    padding-right: 1em;
    align-items: left;
    font-size: 0.8em;
}
.option:hover{
    background-color: transparent;
    border-color: #DEBC09;
    color: #DEBC09;
    cursor: pointer;
}
.correct{
    border-color:     #77DD76;
    border-radius: 0.5em;
    border-style: solid ;
    margin: 0.5em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    padding-left: 1em;
    padding-right: 1em;
    align-items: left;
    font-size: 0.8em;
    background-color:  #77DD76;
    color: white;
}
.incorrect{
    border-color:   #FF6962;
    border-radius: 0.5em;
    border-style: solid ;
    margin: 0.5em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    padding-left: 1em;
    padding-right: 1em;
    align-items: left;
    font-size: 0.8em;
    background-color: #FF6962;
    color: white;
}
@media only screen and (max-width: 600px) {
    .que{
        margin-right: 0em;
    }
    .options{
        width: 100%;
    }
}
